{% block navbar %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="{{ url_for('static', filename='img/logoweb_small.png') }}" width="" height="60" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <ul class="nav navbar-nav ml-auto">
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
                                        border-right-width: 1px; margin-right: 25px;">
                                Celulares
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <span class="dropdown-item-text"><b>Operadores</b></span>
                                <a class="dropdown-item" href="{{ url_for('start.celulares_tigo') }}">Celulares Tigo</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
                                        border-right-width: 1px; margin-right: 25px;">
                                Planes POSTPAGO
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <span class="dropdown-item-text"><b>Operadores</b></span>
                                <a class="dropdown-item" href="{{ url_for('start.pospago_claro') }}">Planes Claro</a>
                                <a class="dropdown-item" href="{{ url_for('start.pospago_movistar') }}">Planes
                                    Movistar</a>
                                <a class="dropdown-item" href="#">Planes TIGO</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
                                        border-right-width: 1px; margin-right: 25px;">
                                Paquetes PREPAGO
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <span class="dropdown-item-text"><b>Operadores</b></span>
                                <a class="dropdown-item" href="{{ url_for('start.paquetes_claro') }}">Paquetes Claro</a>
                                <a class="dropdown-item" href="{{ url_for('start.paquetes_movistar') }}">Paquetes
                                    Movistar</a>
                                <a class="dropdown-item" href="{{ url_for('start.paquetes_tigo') }}">Paquetes TIGO</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu4"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
                                        border-right-width: 1px; margin-right: 25px;">
                                Dashboard
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <span class="dropdown-item-text"><b>Categorias</b></span>
                                <a class="dropdown-item" href="{{ url_for('start.get_dashboard') }}">Planes x Operador</a>
                            </div>
                        </div>
                    </li>
                                        <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu5"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
                                        border-right-width: 1px; margin-right: 25px;">
                                API
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <span class="dropdown-item-text"><b>Operadores</b></span>
                                <a class="dropdown-item" href="{{ url_for('start.paquetes_claro') }}">API Planes</a>
                                <a class="dropdown-item" href="{{ url_for('start.paquetes_movistar') }}">API Paquetes</a>
                                <a class="dropdown-item" href="{{ url_for('start.paquetes_tigo') }}">API Celulares</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}