{% extends "core/layout.html" %}

{% block plans %}
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
.table-condensed{
  font-size: 14px;
}

</style>
<section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center">
        <h1>{{ section_title }}</h1>
    </div>
    <br>
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet">
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
    <br>
    <br>
    <div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Planes Operador</h3>
            </div>
            <div class="card-body">
                {{ script | safe }}
                {{ div | safe }}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}